!!! 5
%html
  %body
    %h2
      =image_tag("http://www.placekitten.com/150/150")
      ="Welcome to Giftola, #{@name}."

    %p
      Here there be copy regarding next steps and promoting
      all that is awesome about Giftola.