- provide(:title, "Edit your profile")
#user_image= image_tag(@user.image)
%div
  %h3
    = @user.name
  =form_for @user do |f|
    = f.text_field :email, value: @user.email || "enter email address"
    = f.submit "Done"
