.row
  #logo.pull-left
    =image_tag("http://www.placekitten.com/150/150")
  %ul.breadcrumb.rec-crumbs
    %li
      = link_to "Recipients", user_recipients_path(current_user.id)
      %span.divider /
    %li.active New 
  %h3 
    Edit
    = @recipient.name
.row
  = render 'form'