%h1 Import your Facebook friends
#fb-root.fb_reset
= render "fb_graph_api"

%ul#friends-list Loading...



=javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
:javascript
  window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')

=javascript_include_tag "fb_init"
