.row
  #logo.pull-left
    =image_tag("http://www.placekitten.com/150/150")
  %ul.breadcrumb.rec-crumbs
    %li
      = link_to "Events", user_events_path(current_user.id)
      %span.divider /
    %li.active Edit 
  %h3 
    Edit
    = @event.title
.row
  = render 'form'