define([
  'underscore',
  'backbone',
  'collections/friend_collection',
  'views/friend_list',
  'models/friend',
  'giftola'
], function(_, Backbone, FriendsCollection, FriendsList, Friend, Giftola) {
  
  return {
    init: function(){
      this.provideFacebookCallback();
      this.processFBResponse();
    },
  
    initFacebookData: function(fbBlob){
      // Facebook delivers the goods in either the wrong format or missing attributes
      // This changes the id attr to fb_id so Backbone recognizes it as a new model.
      // It also creates an http request for the friend's image/avatar

      fbBlob.fb_id = fbBlob.id;
      delete( fbBlob.id );

      fbBlob.image = "https://graph.facebook.com/" + fbBlob.fb_id + "/picture";

      return fbBlob;
    },
  
    provideFacebookCallback: function() {
      var dfd = $.Deferred();
      this.fbFriends = dfd.promise();

      window.fbAsyncInit = function() {
        FB.init({
          appId   : <%= ENV['FACEBOOK_KEY'] %>,
          channelUrl: <%= "'//localhost:3000/channel.html'" unless Rails.env.production? %>,
          status  : true,
          cookie  : true,
          xfbml   : true
        });

        FB.getLoginStatus(function(response){
          FB.api("/me/friends?fields=name,email,birthday", function(friends){
            if (friends.data.length > 0) {
              dfd.resolve( friends.data );
            } else {
              dfd.reject( "Something went wrong getting information on your Facebook friends.  Either you don't have any, yet or there was an error.  Try refreshing the page." );
            }
          });
        });
      };
      // Include Facebook Javascript API
      // Guaranteed to run after fbAsyncInit is loaded
      var d = window.document;
      var js, id = 'facebook-jssdk'
      if (d.getElementById(id)) {return}
      js = d.createElement('script')
      js.id = id
      js.async = true
      js.src = "//connect.facebook.net/en_US/all.js"
      d.getElementsByTagName('head')[0].appendChild(js)
    },

    processFBResponse: function() {
      var _this = this;
      this.fbFriends.then(function( friends ){
        var collection = new FriendsCollection();

        _.each( friends,function( friend ){
          collection.add( _this.initFacebookData( friend ) );
        });

        Giftola.Friends =  new FriendsList( { collection: collection } );
        
      }, function( e ){
        // error msg produced by FB.getLoginStatus
        var msg = '<h4>' + e + '</h4>';
        $("#fb-root").html(msg);
      });
    }
  }

});
