// window.fbAsyncInit = function() {
//   FB.init({
//     appID      : "<%= User.first.oauth_token %>",
//     channelUrl : '//0.0.0.0:3000/channel.html', // TODO: MUST CHANGE for production
//     status     : true,
//     cookie     : true,
//     xfbml      : true
//   })
//   FB.getLoginStatus(function(response){
//     // doesn't seem to be called...
//   })

//   FB.api('/me', function(response) {
//     console.log(response)
//     $('#fb-root').html("<span>Success!</span>")
//   })
// }