// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-event {
  margin-left: 10px;
}

.delete-event {
  float: right;
  margin-top: -10px;
  margin-right: -15px;
}

.event-date {
  float: right;
  font-size: .8em;
  padding-right: 30px;
}

.recipient-heading {
  float: left;
  margin-right: 30px;
  font-weight: bold;
}