// Place all the styles related to the Recipients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error_explanation {
  color: #f00;
  ul{
    list-style: none;
    .margin: 0 0 18px 0;
  }
}

.recipient {
  position: relative;
  height: 140px;
  width: 600px;
}

.user-chosen {
  background-color: #6CF;
}

.rec-pic {
  position: absolute;
  top: 20px;
  left: 20px;
}

.rec-name {
  position: absolute;
  top: 40px;
  left: 80px;
}

.rec-min-max {
  position: absolute;
  top: 80px;
  right: 70px;
  font-weight: bold;
}

.rec-birthday {
  position: absolute;
  top: 10px;
  right: 70px;
}

.rec-associated-events {
  position: absolute;
  top: 140px;
  left: 20px;
}

.rec-crumbs {
  padding-top: 15px;
}

.delete-rec {
  position: absolute;
  top: 10px;
  right: 10px;
}

.field-description {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}