// Place all the styles related to the Recipients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-chosen {
  background-color: #6CF;
}

.rec-pic {
  float: left;
  clear: right;
  margin-right: 15px;
}

.rec-crumbs {
  padding-top: 15px;
}