// Place all the styles related to the Recipients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-import-recipients {
  margin-left: 10px;
}

#spend-at-least {
  margin-left: 10px;
}

.recipient {
  margin-right: 75px
}

.user-chosen {
  background-color: #6CF;
}

.rec-pic {
  float: left;
  clear: right;
  margin-right: 15px;
}

.rec-crumbs {
  padding-top: 15px;
}

.delete-rec {
  float: right;
  margin-right: -20px;
  margin-top: -30px;
}

.field-description {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}