!!! 5
%html
  %body
    %h2
      =image_tag("http://www.placekitten.com/150/150")
    %p Hello,
    %p
      Please
      = link_to 'confirm your email address', confirm_email_save_address_record_confirmed_url(:confirm_email => true, :auth_token => @user.oauth_token)
      for Giftola.

    %p
      If the link above doesn't display, click the link below or copy/paste it into your browser's address bar to set up your account.
    = confirm_email_save_address_record_confirmed_url(:confirm_email => true, :auth_token => @user.oauth_token)